* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Lora", serif;
    color: #6B4F4F
}

.navbar {
    font-family: "Playfair Display", serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.navbar {
    color: #F8F3E7;
    background-color: rgb(62, 35, 16, 0.9);
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

.navbar-nav {
    margin-right: 30px;
}

.navbar-nav .nav-link {
    letter-spacing: 2px;
    color: #F8F3E7;
    font-size: 1.4rem;
    margin-right: 40px;
    cursor: pointer;
    position: relative;

}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0px;

    height: 2px;
    background-color: grey;

    left: 0;
    right: 0;
    margin: auto;
    transition: width 0.5s ease, right 0.5s ease;
}


.navbar-nav .nav-link.choosen::after {
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: #aeaa9f
}

.nav-logo {
    display: flex;

}

.nav-logo img {
    height: 2.5rem;

}

.carousel-item {
    height: 100vh;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -55%);
    color: white;
    max-width: 500px;
    text-align: left;
}

.carousel-caption h5,
.carousel-caption p {
    letter-spacing: 3px;
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: left;
    font-family: 'Playfair Display', serif;
}

.carousel-caption h5 {
    margin-bottom: 20px;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}