/* ==================================== */
/* 1. БАЗОВІ СТИЛІ ТА СКИДАННЯ (RESET) */
/* ==================================== */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Lora", serif;
    color: #6B4F4F
}

/* ==================================== */
/* 2. НАВІГАЦІЯ (NAVBAR) */
/* ==================================== */

.navbar {
    font-family: "Playfair Display", serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.navbar {
    color: #F8F3E7;
    background-color: rgb(62, 35, 16, 0.9);
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

.navbar-nav .nav-link {
    letter-spacing: 2px;
    color: #F8F3E7;
    font-size: 1.4rem;
    margin-right: 40px;
    cursor: pointer;
    position: relative;

}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0px;

    height: 2px;
    background-color: grey;

    left: 0;
    right: 0;
    margin: auto;
    transition: width 0.5s ease, right 0.5s ease;
}


.navbar-nav .nav-link.choosen::after {
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: #aeaa9f
}

.nav-logo {
    display: flex;

}

.nav-logo img {
    height: 2.5rem;

}

/* ==================================== */
/* 3. HERO СЕКЦІЯ (КАРУСЕЛЬ) */
/* ==================================== */

.carousel-item {
    height: 100vh;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -85%);
    color: white;
    max-width: 500px;
    text-align: left;
}

.carousel-caption h5,
.carousel-caption p {
    letter-spacing: 3px;
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: left;
    font-family: 'Playfair Display', serif;
}

.carousel-caption h5 {
    margin-bottom: 20px;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

/* ==================================== */
/* 4.       ПРО НАС(ABOUT US)           */
/* ==================================== */




.aboutSection {
    background-color: rgb(248, 231, 196);
    display: flex;
    flex-wrap: wrap;
    /* Дозволяє блокам переноситися на мобільних пристроях */
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;

}



.aboutImage {

    width: 40%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.aboutContent {
    width: 50%;
    padding: 40px 60px;
    color: #353535;
    text-align: left;
}

.aboutTitle {
    color: #704833;
    /* Колір заголовка 'About us' */
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.aboutContent h1 {
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.aboutContent p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.aboutContent strong {
    background: linear-gradient(120deg, #e7c7a2 0%, #f0d7b4 100%);
    padding: 0 5px;
    border-radius: 3px;
}

.aboutQuote {
    font-style: italic;
    color: #5c3c2e;
    border-left: 3px solid #a47551;
    padding-left: 20px;
    margin-top: 40px;
}

.aboutQuote span {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    text-align: right;
}

/* ==================================== */
/* 5.     КРАЩИЙ ВИБІР(BEST DEAL)       */
/* ==================================== */

.bestDealSection {
    background-color: #f9f0e2;
    /*background-color: rgb(245, 232, 211);*/
    height: auto;
    padding: 40px 150px;

}

.bestDealtitleBlock {
    display: flex;
    justify-content: space-between;
}

.categoryButton {
    margin-left: 1rem;
}

.bestDealtitle {
    width: 35%;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

.bestDealContent {
    width: 100%;
    padding: 40px 0;
    color: #353535;
    display: flex;
    justify-content: space-between;
}


.bestDealProperties {
    background-color: #FFFBF7;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 25%;
    justify-content: space-between;

}

.detailRow {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #EAE0D3;
}

.detailRow .detailLabel {
    font-weight: 600;
    font-size: 1.1rem;
    color: #89634E;
}

.detailRow .detailValue {
    font-weight: 800;
    font-size: 1.1rem;
    color: #89634E;
}

.bestDealImage {

    width: 40%;
    height: 65vh;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.bestDealInfo {
    width: 25%;
}


.bestDealInfoDescription {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.bestDealInfoButton {
    /* Основний стиль */
    background-color: #704833;
    color: #F9F5EF;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.bestDealInfoButton:hover {
    background-color: #89634E;
}

/* ==================================== */
/* 6.         КАРТА(MAP)                */
/* ==================================== */

.mapSection {
    background-color: rgb(248, 231, 196);
    width: 100%;
    padding: 60px 0;

}

.mapWrapper {
    display: flex;
    justify-content: space-around;
}

.mapTitleBlock {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin:  auto;
margin-bottom: 3rem;
}

.mapTitle {
    border-top: #704833 2px solid;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 700;
    color: #704833;
}

.mapSubTitle {
    text-align: center;
    font-size: 1.5rem;
    color: #89634E;
    margin-bottom: 10px;
    border-bottom: #704833 2px solid;
}



.infoCard {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fbf2e1;
   
    border-radius: 10px;
    padding: 30px;
    width: 20%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    color: #4b2e1a;
    font-size: 1.5rem;
    justify-content: space-between;
}

.infoCard p{
    border-bottom: #846f64 1px solid;
}

.mapTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}

.mapMap {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


/* ==================================== */
/* 7. БАЗОВИЙ КОНТЕЙНЕР (FOOTER) */
/* ==================================== */
.footer {
    background-color: rgb(62, 35, 16);
    color: #F8F3E7;
    padding: 40px 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}


.footerContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.footerTitle {
    font-size: 1.4rem;
    color: #F8F3E7;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;

}


.footerSection {
    width: 30%;
}

.footerSocials {
    display: flex;
    gap: 15px;
    align-items: center;
}


.footerSocialLink {
    color: #F8F3E7;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.footerSocialLink:hover {
    color: #aeaa9f;
}

.footerBottom {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid rgba(248, 243, 231, 0.2);
    padding-top: 20px;
}

.footerCopy {
    font-size: 0.9rem;
    margin: 0;
}




.footerAddress,
.footerHours {
    line-height: 1.6;
    margin: 0;

}